#resultsDiv {
    font-size: 20px;
}

#legendFieldset {
    width: 150px;
    margin-left: 20px;
}

.color {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

#green {
    background-color: #00ff00;
}

#red {
    background-color: #ff0000;
}

#blue {
    background-color: #1700ff;
}

.legendField {
    font-size: 12px;
    width: 250px;
    height: 25px;
}

#border {
    border: 1px solid;
}

#tableResults {
    height: 200px;
}